.main-container{
  width: 100%;
  min-height:100vh;
  background-image: url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;

}

.search-item{
  height: 70px;
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  background-color: white;

}
.search-item:hover > .searchbar{
  width:700px;
}
.search-item .searchbar{
  background: transparent;
  border:none;
  outline: none;
  width: 0;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}
@keyframes hoverShake{
  0% {transform: skew(0deg,0deg);}
  25%{transform: skew(5deg,5deg);}
  75%{transform: skew(-10deg,-10deg);}
  100%{transform: skew(0deg,0deg);}
}
.search-item:hover{
  animation: hoverShake 0.10s linear 3;
}